@charset "utf-8";

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* ヘッダー */
#header {
    max-width: 1440px;
    padding-top: 88px;
    margin: 0 auto;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 152px;
}

.pc_nav ul {
    display: flex;
    gap: 4%;
}

.pc_nav ul li {
    width: 112px;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: center;
}

/* ハンバーガーメニュー */
.sp_nav {
    display: none;
}

.sp_btn {
    height: 11px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.sp_btn p {
    display: none;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
    transition: 0.3s;
}

.sp_btn span {
    display: block;
    width: 52px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
}

.sp_btn span::before {
    content: "";
    display: none;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s
}

.sp_btn span::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    transition: 0.3s
}

/* ばつ印 */
.sp_btn.open {
    display: flex;
    align-items: center;
}

.sp_btn.open span {
    background: transparent;
}

.sp_btn.open p {
    display: block;
    padding-right: 14px;
}

.sp_btn.open span::before {
    display: block;
    transform: rotate(45deg);
    transition: 0.3s;
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
}

/* メニュー 見た目*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 241, 218, 1);
    z-index: 1;
}

.sp_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sp_nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.sp_nav_menu li {
    font-family: "futura-100-book", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.sp_nav_menu p {
    padding-top: 160px;
    padding-bottom: 83px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.16em;
    text-align: center;
}

.contact_btn {
    display: block;
    background: #f0b822;
    color: #fff;
    width: 296px;
    padding: 23px 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    border-radius: 32px;
    transition: all .2s;
}

.contact_btn:hover {
    opacity: 0.6;
}

/* ロゴセクション */
#logo {
    max-width: 1120px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.logo_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.logo_box p {
    writing-mode: vertical-rl;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.12em;
}

.logo_box img {
    width: 390px;
}