@charset "utf-8";

/* フェードイン */
.fadeIn {
    opacity: 0;
    transition: 2.5s;
}

.fadeIn.is-show {
    opacity: 1;
}

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#contact {
    max-width: 1120px;
    padding: 0 20px;
    margin-top: 215px;
    margin: 0 auto;
}

h3 {
    font-family: "futura-100", sans-serif;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 76px;
    padding-top: 215px;
}

.heading {
    font-size: 28px;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.12em;
    padding-bottom: 160px;
}

.text {
    font-size: 22px;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.1em;
}

.c-form {
    max-width: 500px;
    margin: 212px auto;
}

.c-form__item {
    margin: 0 auto;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.c-form__label,
.c-form__input,
.c-form__select {
    padding: 10px;
    font-size: 14px;
}

.c-form__label {
    width: 360px;
}

.c-form__input {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    width: 360px;
    font-size: 14px;
    color: black;
    border: none;
    border-radius: 8px;
}

.c-form__select {
    width: 360px;
    text-align: right;
    font-size: 14px;
    color: #cbcbcb;
    border: none;
    border-radius: 8px;
}

.c-form__input:focus-visible {
    outline: #f0b822 auto 1px;
}

.c-form__required {
    color: #fff;
    font-size: 10px;
    background-color: #f0b822;
    border-radius: 8px;
    padding: 3px 8px;
    margin: 0 0 0 18px;
}

textarea.c-form__input {
    height: 160px;
}

.c-form__submit {
    text-align: center;
}

.c-form__submit button {
    margin-top: 60px;
    font-size: 14px;
    color: #fff;
    background-color: #f0b822;
    border: none;
    border-radius: 8px;
    padding: 17px 169px;
    transition: 0.4s;
    cursor: pointer;
}

.c-form__submit button:hover {
    color: #f0b822;
    background-color: transparent;
    border: solid #f0b822 1px;
}

@media screen and (max-width:1023px) {

    h3 {
        font-size: 26px;
        padding-bottom: 85px;
        padding-top: 85px;
    }

    .heading {
        font-size: 24px;
        padding-bottom: 75px;
    }

    .text {
        font-size: 16px;
    }

    .c-form {
        margin: 133px auto;
    }
}

/* ハンバーガーメニューのみになる時 */
@media screen and (max-width:767px) {

    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }

    h3 {
        font-size: 22px;
    }

    .heading {
        font-size: 18px;

    }

    .text {
        font-size: 14px;
    }

    .c-form__item,
    .c-form__label,
    .c-form__select {
        width: 325px;

    }

    .c-form__submit button {
        margin-top: 60px;
        font-size: 14px;
        color: #fff;
        background-color: #f0b822;
        border: none;
        border-radius: 8px;
        padding: 17px 151px;
        transition: 0.4s;
        cursor: pointer;
    }
}