@charset "utf-8";

/* ヘッダー */
#header {
    max-width: 1440px;
    padding: 88px 20px 0 20px;
    margin: 0 auto;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    width: 152px;
}

.pc_nav ul {
    display: flex;
    gap: 58px;
}

.pc_nav ul li {
    width: 70px;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: center;
}

.hoverscale {
    transition: transform 0.5s;
}

.hoverscale:hover {
    transform: scale(1.1);
}

/* ハンバーガーメニュー */
.sp_nav {
    display: none;
}

.sp_btn {
    height: 11px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.sp_btn p {
    display: none;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
    transition: 0.3s;
}

.sp_btn span {
    display: block;
    width: 52px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
}

.sp_btn span::before {
    content: "";
    display: none;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s
}

.sp_btn span::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    transition: 0.3s
}

/* ばつ印 */
.sp_btn.open {
    display: flex;
    align-items: center;
}

.sp_btn.open span {
    background: transparent;
}

.sp_btn.open p {
    display: block;
    padding-right: 14px;
}

.sp_btn.open span::before {
    display: block;
    transform: rotate(45deg);
    transition: 0.3s;
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
}

/* メニュー 見た目*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 241, 218, 1);
    z-index: 1;
}

.sp_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sp_nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.sp_nav_menu li {
    font-family: "futura-100-book", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.sp_nav_menu p {
    padding-top: 160px;
    padding-bottom: 83px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.16em;
    text-align: center;
}

.contact_btn {
    display: block;
    background: #f0b822;
    color: #fff;
    width: 296px;
    padding: 23px 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    border-radius: 32px;
    transition: all .2s;
}

.contact_btn:hover {
    opacity: 0.6;
}

/* 固定ヘッダー */

#fixed-header {
    max-width: 1440px;
    padding: 88px 20px 0 20px;
    margin: 0 auto;
    position: fixed;
    top: -70px;
    width: 100%;
    height: 70px;
    background: #f7f7ed;
    box-sizing: border-box;
    transition: .5s;
    /* アニメーションタイミング */
}

#fixed-header.is-show {
    top: 0;
}

.fixed-header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-header_logo img {
    width: 152px;
}

.fixed-sp_nav {
    display: none;
}

.fixed-sp_btn {
    height: 11px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.fixed-sp_btn p {
    display: none;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
    transition: 0.3s;
}

.fixed-sp_btn span {
    display: block;
    width: 52px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
}

.fixed-sp_btn span::before {
    content: "";
    display: none;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s
}

.fixed-sp_btn span::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    transition: 0.3s
}

/* ばつ印 */
.fixed-sp_btn.open {
    display: flex;
    align-items: center;
}

.fixed-sp_btn.open span {
    background: transparent;
}

.fixed-sp_btn.open p {
    display: block;
    padding-right: 14px;
}

.fixed-sp_btn.open span::before {
    display: block;
    transform: rotate(45deg);
    transition: 0.3s;
}

.fixed-sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.3s;
}

/* メニュー 見た目*/
.fixed-sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 241, 218, 1);
    z-index: 1;
}

.fixed-sp_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fixed-sp_nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.fixed-sp_nav_menu li {
    font-family: "futura-100-book", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.fixed-sp_nav_menu p {
    padding-top: 160px;
    padding-bottom: 83px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.16em;
    text-align: center;
}

.fixed-contact_btn {
    display: block;
    background: #f0b822;
    color: #fff;
    width: 296px;
    padding: 23px 0;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    border-radius: 32px;
    transition: all .2s;
}

.fixed-contact_btn:hover {
    opacity: 0.6;
}