@charset "utf-8";

/* * フェードイン */
.fadeIn {
    opacity: 0;
    transition: 2.5s;
}

.fadeIn.is-show {
    opacity: 1;
}

.btn {
    display: block;
    width: 294px;
    background: #fff;
    padding: 22px 0;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    border-radius: 32px;
    border: 1px solid #373741;
    /* transition: all .4s */
}

.btn:hover {
    opacity: 0.6;
}

h2 {
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 500;
}

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#intro {
    max-width: 1235px;
    padding: 0 20px;
    margin: 0 auto;
}

#intro h2 {
    padding: 248px 0 130px;
}

.title {
    padding-bottom: 130px;
    text-align: center;
    font-size: 22px;
    line-height: 2;
    letter-spacing: 0.1em;
}

.btn_box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 248px;
}

#graphic {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

#graphic h2 {
    padding-bottom: 26px;
}



.category_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 20px 120px 20px;
    /* position: relative; */
}

.category {
    width: 368px;
}

.category img {
    width: 115px;
    display: block;
    margin: 0 auto;
    padding-bottom: 56px;
}


.price {
    display: flex;
    padding-bottom: 22px;
    padding-top: 32px;
}

.time {
    display: flex;
}

.price img,
.time img {
    width: 34px;
    margin: 0;
    padding-bottom: 0px;
}

.price p,
.time p {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.1em;
    padding-left: 7px;
}

.category_text p {
    padding-top: 22px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
}

.category_text_pers p {
    font-size: 20px;
    line-height: 2;
}

#web_sns,
#web,
#pers {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#web_sns h2,
#web h2 {
    padding-bottom: 26px;
}


/* 縦線のアニメーション */

.inview_verticalline {
    width: 2px;
    height: 640px;
    position: relative;
}

.verticalline {
    width: 2px;
    height: 0;
    background-color: #f0b822;
    transition: height 2s ease-out;
    /* 1秒かけて伸びる */
    position: absolute;
    top: 0;
}

.is-show .verticalline {
    height: 640px;
    /* 最終的な長さ */
}

.inview_verticalline_option {
    width: 2px;
    height: 168px;
    position: relative;
}

.verticalline_option {
    width: 2px;
    height: 0;
    background-color: #f0b822;
    transition: height 1s ease-out;
    /* 1秒かけて伸びる */
    position: absolute;
    top: 0;
}

.is-show .verticalline_option {
    height: 168px;
    /* 最終的な長さ */
}

.inview_verticalline_pers {
    width: 2px;
    height: 432px;
    position: relative;
}

.verticalline_pers {
    width: 2px;
    height: 0;
    background-color: #f0b822;
    transition: height 1s ease-out;
    /* 1秒かけて伸びる */
    position: absolute;
    top: 0;
}

.is-show .verticalline_pers {
    height: 432px;
    /* 最終的な長さ */
}

.btn_box_last {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
}

@media screen and (max-width:1023px) {
    #intro h2 {
        padding: 152px 0 38px;
    }

    .h3 {
        padding-top: 115px;
    }

    .title {
        padding-bottom: 100px;
        font-size: 18px;
        line-height: 2.5;
    }

    .btn_box {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 112px;
    }

    .btn {
        margin: 0 auto;
    }

    /* サービス縦並び */
    #graphic,
    #web_sns,
    #web,
    #pers {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    #web,
    #pers {
        margin-top: 123px;
    }

    .category_container {
        flex-direction: column;
        gap: 80px;
    }

    /* #SERVICE h2 {
        text-align: center;
        padding-bottom: 134px;
    } */
    .category {
        width: 335px;
    }

    .category img {
        width: 77px;
        display: block;
        margin: 0 auto;
        padding-bottom: 64px;
    }

    .price {
        display: flex;
        padding-bottom: 14px;
        padding-top: 30px;
    }

    .time {
        display: flex;
    }

    .price img,
    .time img {
        width: 20px;
        margin: 0;
        padding-bottom: 0px;
    }

    .price p,
    .time p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.1em;
        padding-left: 15px;
    }

    .category_text p {
        padding-top: 32px;
        font-size: 15px;
        line-height: 2;
        letter-spacing: 0.1em;
    }

    .inview_verticalline,
    .inview_verticalline_option,
    .inview_verticalline_pers {
        width: 335px;
        height: 2px;
        position: relative;
    }

    .verticalline,
    .verticalline_option,
    .verticalline_pers {
        width: 0;
        height: 2px;
        background-color: #f0b822;
        transition: width 2s ease-out;
        /* 1秒かけて伸びる */
        position: absolute;
        top: 0;
    }

    .is-show .verticalline,
    .is-show .verticalline_option,
    .is-show .verticalline_pers {
        width: 335px;
        height: 2px
            /* 最終的な長さ */
    }

    #SERVICE .btn {
        margin: 0 auto;
        margin-bottom: 10px;
    }

}


@media screen and (max-width:767px) {
    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    .price p,
    .time p {
        font-size: 14px;
    }

    .category_text p {
        font-size: 14px;
    }
}