@charset "utf-8";

/* フェードイン */
.fadeIn {
    opacity: 0;
    transition: 2.5s;
}

.fadeIn.is-show {
    opacity: 1;
}

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* イントロ部分 */

.intro {
    margin: 0 auto;
    padding-top: 283px;
    padding-bottom: 252px;
}

.intro_ja p {
    font-size: 36px;
    line-height: 2;
    letter-spacing: 0.16em;
    text-align: center;
}

.intro_en p {
    padding-top: 82px;
    font-family: "futura-100", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #a39482;
    text-align: center;
}

/* ABOUT セクション */

#ABOUT {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-family: "futura-100-book", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.ABOUT_box p {
    padding-top: 116px;
    padding-bottom: 97px;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 500;
    letter-spacing: 0.12em;
    text-align: left;
}

.btn {
    display: block;
    width: 294px;
    background: #fff;
    padding: 22px 0;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    border-radius: 32px;
    border: 1px solid #373741;
    /* transition: all .4s */
}

.btn:hover {
    opacity: 0.6;
}


/* ランプのアニメーション */

.lamp {
    width: 100%;
    height: auto;
    background: url("../images/lamp.png") no-repeat;
    aspect-ratio: 750 / 790;
    background-size: auto 100%;
}

.is-show.lamp_animation .lamp {
    animation: fuwari 1.8s steps(8);
    animation-fill-mode: forwards;
}

@keyframes fuwari {
    to {
        background-position: 100% 0;
    }
}

@-webkit-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

@-moz-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

.lamp_animation {
    width: 50%;
    position: relative;
}

.lamp_animation p {
    writing-mode: vertical-rl;
    font-size: 28px;
    letter-spacing: 0.12em;
    line-height: 2;
    position: absolute;
    top: 50%;
    left: 56%;
}

/* SERVICEセクション */

#SERVICE {
    max-width: 1235px;
    margin: 0 auto;
}

#SERVICE h2 {
    text-align: center;
    padding-bottom: 224px;
}

.SERVICE_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 120px 20px;
    /* position: relative; */
}

#SERVICE img {
    width: 115px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

#SERVICE h3 {
    padding-bottom: 46px;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
}

.SERVICE_container p {
    width: 285px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
}

/* .line span {
    display: block;
    width: 2px;
    height: 432px;
    background: #f0b822;
    border-radius: 2px;
} */

/* 縦線のアニメーション */

.inview_verticalLine {
    width: 2px;
    height: 432px;
    position: relative;
}

.verticalline {
    width: 2px;
    height: 0;
    background-color: #f0b822;
    transition: height 2s ease-out;
    /* 1秒かけて伸びる */
    position: absolute;
    top: 0;
}

.is-show .verticalline {
    height: 432px;
    /* 最終的な長さ */
}

#SERVICE .btn {
    margin: 0 auto;
    margin-bottom: 27px;
}

/* ラインアニメーション */

.line_anime_pc_about_service {
    width: 205px;
    padding-left: 38%;
}

.line_anime_pc_about_service path {
    fill: none;
    stroke: #f0b822;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.is-show .line_anime_pc_about_service path,
.is-show .line_anime_pc_service_works path {
    -webkit-animation: drawing 6s linear forwards;
    animation: drawing 6s linear forwards;
}

.line_anime_sp {
    display: none;
}

@keyframes drawing {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.line_anime_pc_service_works {
    width: 172px;
    display: block;
    margin: 0 auto;
}


.line_anime_pc_service_works path {
    fill: none;
    stroke: #f0b822;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}


/* WORKSセクション */
#WORKS {
    max-width: 1920px;
    margin: 0 auto;

}

#WORKS h2 {
    padding-bottom: 220px;
    text-align: center;
}

.WORKS_slider_title {
    display: flex;
    align-items: center;
}

#WORKS h3 {
    padding-left: 12%;
    padding-right: 3%;
    font-family: "futura-100-book", sans-serif;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

/* .WORKS_slider_title span {
    display: block;
    width: 80%;
    height: 2px;
    background: #f0b822;
    border-radius: 2px;
} */


/* 横線のアニメーション */

.inview_horizontalLine {
    width: 100%;
    height: 2px;
    position: relative;
}

.horizontalline {
    width: 0;
    height: 2px;
    background-color: #f0b822;
    transition: width 3s ease-out;
    /* 1秒かけて伸びる */
    position: absolute;
    top: 0;
}

.is-show .horizontalline {
    width: 100%;
    /* 最終的な長さ */
}

/* CONTACTセクション */
#sp_CONTACT {
    display: none;
}

#CONTACT {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 285px;
    margin-bottom: 255px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .contact_message {
    padding-left: 20%;
} */

.contact_message p {
    width: 314px;
    font-size: 28px;
    line-height: 2;
    letter-spacing: 0.12em;
}

.line_anime_box {
    margin-right: 31px;
    margin-left: 8%;
}

.line_anime_pc_contact {
    width: 168px;
}

.line_anime_pc_contact path {
    fill: none;
    stroke: #f0b822;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

.is-show .line_anime_pc_contact path,
.is-show .line_anime_sp_contact path {
    -webkit-animation: drawing 6s linear forwards;
    animation: drawing 6s linear forwards;

}

.contact_container p {
    width: 328px;
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: 0.12em;
    padding: 120px 0;
}



/* slick */

.slider_web {
    display: flex;
    margin: 0 auto;
    padding-top: 134px;
    padding-left: 20px;
}

.slider_graphic {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 134px;
    padding-left: 20px;
}

.slider_pers {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 134px;
    padding-left: 20px;
}

.slick-slide {
    margin-right: 32px;
}

.slider_title p {
    padding-top: 32px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.12em;
}

.slider_category p {
    padding-top: 22px;
    font-size: 14px;
    letter-spacing: 0.12em;
}

.arrow_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 121px 0 228px;
    position: relative;
}

.prev-arrow,
.next-arrow {
    display: block;
    height: 32px;
    transition: all .3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 0 27px;
}

.prev-arrow {
    border-right: 1px solid #373741;
}

.prev-arrow::before {
    content: "←";
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.next-arrow::after {
    content: "→";
    font-family: "futura-100-book", sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

/* ブレイクポイント1 */
@media screen and (max-width:1023px) {
    #CONTACT {
        display: none;
    }

    #sp_CONTACT {
        display: block;
        /* margin-bottom: 45px; */
        position: relative;
    }

    .sp_contact_container h2 {
        text-align: center;
        padding-bottom: 45px;
    }

    .sp_contact_container p {
        writing-mode: vertical-rl;
        font-size: 18px;
        line-height: 2.2;
        letter-spacing: 0.16em;
        margin: 104px auto 110px;
    }

    .contact_btn {
        margin: 0 auto;
        width: 250px;
        padding: 23px 0;
        font-size: 15px;
    }

    .sp_contact_info p {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 62px 0 160px 0;
    }

    .line_anime_sp_contact {
        width: 213px;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .line_anime_sp_contact path {
        fill: none;
        stroke: #f0b822;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
    }

    /* アバウトセクション縦ならび */
    #ABOUT {
        max-width: 100%;
        flex-direction: column;
        gap: 170px;
    }

    .lamp_animation {
        width: 78%;
        margin: 0 auto;
    }

    /* ランプのところのテキスト */
    .lamp_animation p {
        font-size: 16px;
    }

    .line_anime_pc_about_service {
        width: 160px;
        display: block;
        padding: 10px 0;
        margin: 0 auto;
    }

    .ABOUT_box p {
        padding-top: 116px;
        padding-bottom: 97px;
        font-size: 14px;
        line-height: 2.5;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: left;
    }

    .btn {
        display: block;
        width: 250px;
        background: #fff;
        padding: 23px 0;
        text-align: center;
        font-family: "futura-100-book", sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        border-radius: 32px;
        border: 1px solid #373741;
        transition: all .2s
    }

    /* サービス縦並び */
    .SERVICE_container {
        flex-direction: column;
        gap: 64px;
    }

    #SERVICE h2 {
        text-align: center;
        padding-bottom: 134px;
    }

    #SERVICE img {
        width: 77px;
        display: block;
        margin: 0 auto;
        padding-bottom: 36px;
    }

    #SERVICE h3 {
        padding-bottom: 19px;
        text-align: center;
        font-size: 21px;
        letter-spacing: 0.1em;
    }

    .SERVICE_container p {
        font-size: 14px;
    }

    .inview_verticalLine {
        width: 335px;
        height: 2px;
        position: relative;
    }

    .verticalline {
        width: 0;
        height: 2px;
        background-color: #f0b822;
        transition: width 2s ease-out;
        /* 1秒かけて伸びる */
        position: absolute;
        top: 0;
    }

    .is-show .verticalline {
        width: 335px;
        height: 2px
            /* 最終的な長さ */
    }

    #SERVICE .btn {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .line_anime_pc_service_works {
        width: 128px;
        padding-bottom: 10px;
    }
}

/* ブレイクポイント２ */
/* ハンバーガーメニューのみになる時 */
@media screen and (max-width:767px) {

    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }

    .intro {
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 164px;
    }

    .intro_ja p {
        font-size: 18px;
    }

    .intro_en p {
        padding-top: 34px;
        font-size: 14px;
        font-family: "futura-100-book", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
    }

    h2 {
        font-family: "futura-100", sans-serif;
        font-size: 22px;
        font-weight: 500;
    }

    /* スライダー1枚表示 */
    .slick-slide {
        margin-right: 20px;
    }

    #WORKS h2 {
        padding-bottom: 134px;
    }

    #WORKS h3 {
        font-size: 22px;
        padding: 0 20px 0 18px;
    }

    .slider_web {
        padding-top: 64px;
    }

    .slider_title p {
        padding-top: 16px;
        font-size: 14px;
    }

    .slider_category p {
        font-size: 12px;
    }

    .arrow_box {
        margin: 64px 0 104px 0;
    }

    .slider_graphic {
        padding-top: 64px;
    }

    .slider_pers {
        padding-top: 64px;
    }

    .prev-arrow,
    .next-arrow {
        display: block;
        height: 32px;
        transition: all .3s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    .prev-arrow::before,
    .next-arrow::after {
        font-size: 16px;
    }
}