@charset "utf-8";

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* ヘッダー */
#header {
    padding-top: 88px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.header_logo {
    width: 152px;
}

.pc_nav ul {
    display: flex;
    gap: 58px;
}

.pc_nav ul li {
    width: 70px;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

/* ハンバーガーメニュー */
.sp_nav {
    display: none;
}

.sp_btn {
    height: 11px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.sp_btn p {
    display: none;
    font-family: "futura-100-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
}

.sp_btn span {
    display: block;
    width: 52px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: relative;
}

.sp_btn span::before {
    content: "";
    display: none;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
}

.sp_btn span::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    top: 10px
}

/* ばつ印 */
.sp_btn.open {
    display: flex;
    align-items: center;
}

.sp_btn.open span {
    background: transparent;
}

.sp_btn.open p {
    display: block;
    padding-right: 14px;
}

.sp_btn.open span::before {
    display: block;
    transform: rotate(45deg);
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニュー 見た目*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 241, 218, 0.8);
    z-index: 1;
}

.sp_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sp_nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.sp_nav_menu li {
    font-family: "futura-100-book", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.sp_nav_menu p {
    padding-top: 160px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.16em;
    text-align: center;
}

.contact_btn {
    margin-top: 80px;
    width: 250px;
    background: #f0b822;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    border-radius: 32px;
}

/* イントロ部分 */

.intro {
    margin: 0 auto;
    padding-top: 283px;
    padding-bottom: 252px;
}

.intro_ja p {
    font-size: 36px;
    line-height: 2;
    letter-spacing: 0.16em;
    text-align: center;
}

.intro_en p {
    padding-top: 82px;
    font-family: "futura-100", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #a39482;
    text-align: center;
}

/* ABOUT セクション */

#ABOUT {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-family: "futura-100", sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
}

.ABOUT_box p {
    padding-top: 116px;
    padding-bottom: 97px;
    font-size: 18px;
    line-height: 2.5;
    font-weight: medium;
    letter-spacing: 0.12em;
    text-align: left;
}

.btn {
    display: block;
    width: 296px;
    background: #fff;
    padding: 22px;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    border-radius: 32px;
    border: 1px solid #373741;
}

/* ランプのアニメーション */

.lamp {
    width: 100%;
    height: auto;
    aspect-ratio: 750 / 790;
    background: url("../images/lamp.png") no-repeat;
    animation: fuwari 1.8s steps(8);
    animation-fill-mode: forwards;
    background-size: auto 100%;
}

@keyframes fuwari {
    to {
        background-position: 100% 0;
    }
}

@-webkit-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

@-moz-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

.lamp_animation {
    width: 50%;
}

/* SERVICEセクション */

#SERVICE {
    max-width: 1235px;
    margin: 0 auto;
}

#SERVICE h2 {
    text-align: center;
    padding-bottom: 224px;
}

.SERVICE_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 120px 20px;
}

#SERVICE img {
    width: 115px;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

#SERVICE h3 {
    padding-bottom: 46px;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
}

.SERVICE_container p {
    width: 285px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
}

.line span {
    display: block;
    width: 2px;
    height: 432px;
    background: #f0b822;
    border-radius: 2px;
}

#SERVICE .btn {
    margin: 0 auto;
    margin-bottom: 27px;
}

.line_anime_pc_about_service {
    width: 205px;
    padding-left: 35%;
}

.line_anime_pc_about_service path {
    fill: none;
    stroke: #f0b822;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: drawing 6s linear forwards;
    animation: drawing 6s linear forwards;
}

.line_anime_sp {
    display: none;
}

@keyframes drawing {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.line_anime_pc_service_works {
    width: 172px;
    display: block;
    margin: 0 auto;
}

.line_anime_pc_service_works path {
    fill: none;
    stroke: #f0b822;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: drawing 6s linear forwards;
    animation: drawing 6s linear forwards;
}

/* WORKSセクション */
#WORKS {
    max-width: 1920px;
    margin-top: 22px;
    margin: 0 auto;

}

#WORKS h2 {
    padding-bottom: 220px;
    text-align: center;
}

.WORKS_slider_title {
    display: flex;
    align-items: center;
}

#WORKS h3 {
    padding-left: 13%;
    padding-right: 3%;
    font-family: "futura-100-book", sans-serif;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.WORKS_slider_title span {
    display: block;
    width: 80%;
    height: 2px;
    background: #f0b822;
    border-radius: 2px;
}

.slider_title p {
    padding-top: 32px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.12em;
}

.slider_category p {
    padding-top: 22px;
    font-size: 14px;
    letter-spacing: 0.12em;
}

/* slick */

.slider {
    padding-top: 134px;
    padding: 134px 20px 0 20px;
}

.slider li {
    margin-right: 1%;
    margin-left: 1%;
}

.arrow_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 121px 0 0;
    position: relative;

}

.prev-arrow,
.next-arrow {
    display: block;
    width: 100px;
    height: 32px;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.prev-arrow::before {
    position: absolute;
    content: "PREV";
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.next-arrow::before {
    position: absolute;
    content: "NEXT";
    font-family: "futura-100-book", sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

/* ハンバーガーメニューのみになる時 */
@media screen and (max-width:1300px) {

    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }

    #ABOUT {
        max-width: 100%;
        flex-direction: column;
        gap: 170px;
    }

    .lamp_animation {
        width: 65%;
        margin: 0 auto;
    }

    .SERVICE_container {
        flex-direction: column;
        gap: 64px;
    }

    .line span {
        width: 290px;
        height: 2px;
    }

    .line_anime_sp {
        display: block;
    }

    .line_anime_pc_about_service {
        display: none;
    }

    .line_anime_sp path {
        fill: none;
        stroke: #f0b822;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        -webkit-animation: drawing 6s linear forwards;
        animation: drawing 6s linear forwards;
    }

    .line_anime_sp {
        width: 395px;
        margin: 0 auto;
        padding: 105px 0 83px 0;
    }
}