@charset "utf-8";

/* ヘッダー */
#header {
    padding-top: 88px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.header_logo {
    width: 152px;
}

.pc_nav ul {
    display: flex;
    gap: 58px;
}

.pc_nav ul li {
    width: 70px;
    font-family: Futura, 'Century Gothic';
    font-size: 14px;
    font-weight: book;
    letter-spacing: 0.1em;
}

/* ハンバーガーメニュー */
.sp_nav {
    display: none;
}

.sp_btn {
    height: 11px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.sp_btn p {
    display: none;
    font-family: Futura, 'Century Gothic';
    font-size: 14px;
    font-weight: book;
    letter-spacing: 0.075em;
}

.sp_btn span {
    display: block;
    width: 52px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: relative;
}

.sp_btn span::before {
    content: "";
    display: none;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
}

.sp_btn span::after {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background: #373741;
    border-radius: 2px;
    position: absolute;
    top: 10px
}

/* ばつ印 */
.sp_btn.open {
    display: flex;
    align-items: center;
}

.sp_btn.open span {
    background: transparent;
}

.sp_btn.open p {
    display: block;
    padding-right: 14px;
}

.sp_btn.open span::before {
    display: block;
    transform: rotate(45deg);
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニュー 見た目*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(244, 241, 218, 0.8);
    z-index: 1;
}

.sp_nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sp_nav_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.sp_nav_menu li {
    font-family: Futura, 'Century Gothic';
    font-size: 22px;
    font-weight: book;
    letter-spacing: 0.1em;
}

.sp_nav_menu p {
    padding-top: 160px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.16em;
    text-align: center;
}

.contact_btn {
    margin-top: 80px;
    width: 250px;
    background: #f0b822;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    border-radius: 32px;
}

/* イントロ部分 */

.intro {
    margin: 0 auto;
    padding-top: 283px;
    padding-bottom: 252px;
}

.intro_ja p {
    font-size: 36px;
    line-height: 2;
    letter-spacing: 0.16em;
    text-align: center;
}

.intro_en p {
    padding-top: 82px;
    font-family: Futura, 'Century Gothic';
    font-size: 16px;
    font-weight: medium;
    letter-spacing: 0.2em;
    color: #a39482;
    text-align: center;
}

/* ABOUT セクション */

#ABOUT {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-family: Futura, 'Century Gothic';
    font-size: 28px;
    font-weight: medium;
    letter-spacing: 0.1em;
}

.ABOUT_box {
    width: 29%;
}

.ABOUT_box p {
    padding-top: 116px;
    padding-bottom: 97px;
    font-size: 18px;
    line-height: 2.5;
    font-weight: medium;
    letter-spacing: 0.12em;
    text-align: left;
}

.btn {
    display: block;
    width: 296px;
    background: #fff;
    padding: 22px;
    text-align: center;
    font-family: Futura, 'Century Gothic';
    font-size: 18px;
    letter-spacing: 0.1em;
    border-radius: 32px;
    border: 1px solid #373741;
}

/* ランプのアニメーション */
.lamp_animation {
    width: 56%;
}

.lamp {
    width: 750px;
    height: 790px;
    background: url("../images/lamp.png") no-repeat;
    animation: fuwari 1.8s steps(9);
    animation-fill-mode: forwards;
}

@keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

@-webkit-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

@-moz-keyframes fuwari {
    to {
        background-position: -6750px 0;
    }
}

/* ハンバーガーメニューのみになる時 */
@media screen and (max-width:1300px) {
    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }
}