@charset "utf-8";



/* フェードイン */
.fadeIn {
    opacity: 0;
    transition: 2.5s;
}

.fadeIn.is-show {
    opacity: 1;
}

/* 背景 */
body {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    max-width: 100%;
    padding: 0 20px;
}

h2 {
    font-family: "futura-100-book", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 168px;
}

.thanks {
    padding-top: 72px;
    padding-bottom: 72px;
    font-size: 28px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.12em;
    text-align: center;
}

.text {
    margin: 0 auto;
    font-size: 22px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 154px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 294px;
    background: #fff;
    padding: 22px 0;
    text-align: center;
    font-family: "futura-100-book", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    border-radius: 32px;
    border: 1px solid #373741;
    /* transition: all .4s */
}

.btn:hover {
    opacity: 0.6;
}

/* * ハンバーガーメニューのみになる時 */
@media screen and (max-width:767px) {

    .pc_nav {
        display: none;
    }

    .header_logo {
        width: 80px;
    }

    h2 {
        font-size: 22px;
        padding-top: 148px;
    }

    .thanks {
        padding-top: 87px;
        padding-bottom: 87px;
        font-size: 18px;
        line-height: 2.2;
        letter-spacing: 0.126m;
    }

    .text {
        font-size: 14px;
        padding-bottom: 94px;
    }

    .btn {
        display: block;
        width: 250px;
        background: #fff;
        padding: 23px 0;
        text-align: center;
        font-family: "futura-100-book", sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        border-radius: 32px;
        border: 1px solid #373741;
        transition: all .2s
    }

}